#mainNav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
}

#mainNav .navbar-brand {
  color: white;
  text-transform: uppercase;
  font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #C8103E;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 100%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  float:right;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #C8103E;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: #001440;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }



header.masthead {
  text-align: center;
  color: #1a2b53;
  border-color: white;
  background-image: url("../images/intro_picture.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.masthead .intro-text {
  padding-top: 300px;
  padding-bottom: 200px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  background-color: rgb(255, 255, 255, 0.6);
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section.student-quote {
  text-align: center;
  color: #ebe8e5;
  background-color: #001440
}

section.student-quote .quote-text {
  padding-top: 50px;
  padding-bottom: 50px;
}

section.student-quote .quote-text .air-quotes-top {
  font-size: 100px;
  font-style: italic;
  text-align: left;
  line-height: 40px;
  margin-left: 300px;
}

section.student-quote .quote-text .air-quotes-bottom {
  font-size: 100px;
  font-style: italic;
  text-align: right;
  line-height: 40px;
  margin-right: 300px;
}

section.student-quote .quote-text .quote-word {
  }

section.student-quote .quote-text .quote-words p {
  font-size: 30px;
  font-style: italic;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section.about-project {
    text-align: center;
    color: #001e61;
    background-color: white;
}

section.about-project .about-text {
  padding-top: 80px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

section.about-project .about-text .about-title h1 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section.about-project .about-text .about-intro p {
  font-size: 20px;
  padding-bottom: 50px;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section.about-project .about-text .about-picture {
  align-items: center;
}


section.product {
  text-align: center;
  color: white;
  background-color: rgb(0, 20, 64);
}

section.product .product-text {
  padding-top: 80px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

section.product .product-text .product-title h1 {
  text-align: center;
  color: #fffff
  background-color: #001e62;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section.product .product-text .product-intro p {
  font-size: 20px;
  padding-bottom: 50px;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section.product .product-text .product-steps p {
  font-size: 20px;
  padding-bottom: 0px;
  background-color: white;
  color: #001e62;
  font-weight: 700;
  margin-left: 0px;
  margin-right: 0px;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section.product .box {
  border: solid;
}

section.product .column {
  float: left;
  width: 33.33%;
  height: 250px;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section.product .row:after {
  content: "";
  display: table;
  clear: both;
}
